body {
  background-image: url(https://images7.alphacoders.com/592/592678.jpg);
  margin: 0;
  width: 100%;
  position: absolute;
  display: flex;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title-container { /* h1 e logo */
  justify-content: center;
  align-items: center;  
}
h1 {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  color: yellow;
  font-size: 50px;
  margin: 0px;
  font-family: 'Pokemon Solid', sans-serif;
  color: rgba(yellow);
     -webkit-text-stroke: 1px blue;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 65px;
  margin: 10px;
}

.description-container { /* descrição e botão*/
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.description-container p { /* estilização do paragrafo*/
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 20px 20px;
  font-size: 15px;
  background-color: #2111fc;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px;
}

button:hover {
  background-color: #061453;
}