body {
  background-image: url(https://images7.alphacoders.com/592/592678.jpg);
  margin: 0;
  width: 100%;
  position: absolute;
  display: flex;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title-container { /* h1 e logo */
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h1 {
  padding: 20px;
  text-align: center;
  color: #fca311;
  font-size: 36px;
  margin: 0px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 65px;
  margin: 10px;
}

.description-container { /* descrição e botão*/
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.description-container p { /* estilização do paragrafo*/
  color: white;
  margin: 0px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #fca311;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e57800;
}
